{% extends 'registration/accounts_base.html' %}
{% block title %}Change Password{% endblock %}
{% block card_title %}Change Password{% endblock %}

{% block content %}
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
            {{ form.old_password }}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
