{% extends 'base.html' %}

{% block content %}
    <h1>Product List</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.product_cover_image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.short_description }}</p>
                        <p class="card-text">Amount: ${{ product.amount }}</p>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">Details</a>
                        {% if product_groups.product_id is not None %}
                            <a href="{% url 'add_to_group' product_id=product.id group_id=product_groups.product_id %}">Add to Group</a>
                        {% else %}
                            <a href="{% url 'group_create' product_id=product.id %}">Create Group</a>
                        {% endif %}
                        <form method="post" action="{% url 'add_to_favorites' product_id=product.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">Add to Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
