{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Payment Successful ✅</h5>
                        <p class="card-text">Your payment has been successfully processed. Thank you for your order!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
