{% extends 'base.html' %}

{% block content %}
    <h1>Recommended Products</h1>
    <div class="row">
        {% for product in recommendations %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.product_cover_image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.short_description }}</p>
                        <p class="card-text">Amount: ${{ product.amount }}</p>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">Details</a>
                        <form method="post" action="{% url 'add_to_group' product_id=product.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.pk }}">
                            <input type="hidden" name="group_region" value="{{ product.group_region }}">
                            <button type="submit" class="btn btn-success">Add to Group</button>
                        </form>
                        <form method="post" action="{% url 'add_to_favorites' product_id=product.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">Add to Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
